<section class="cart_section">
    <div class="container"></div>
    <h2>Cart</h2>

    <table>
      <tr>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        <th>Delet</th>
      </tr>
      <tr>
        <td><img  class = "image"src="https://ii2.pepperfry.com/media/catalog/product/c/a/494x544/cambridge-upholstered-queen-size-bed-with-storage-in-grey-color--mintwud-by-pepperfry-cambridge-upho-kkkyek.jpg" alt="p1"></td>
        <td>₹ 15000</td>
        <td>
            <div class="content">
            
                <button type ="button" class="btn"><i class="fa fa-plus"></i></button>
                <span>1</span>
                <button type ="button" class="btn"><i class="fa fa-minus"></i></button>
            </div>
        </td>
        
            <td>₹ 15000</td>
        
        <td>
            <button class="delet"><i class="fa fa-delet"></i></button>
        </td>
       
      </tr>
      
    </table>
</section>
